@import '@fontsource/noto-sans-kr/300.css';
@import '@fontsource/noto-sans-kr/400.css';
@import '@fontsource/noto-sans-kr/500.css';
@import '@fontsource/noto-sans-kr/700.css';
@import '@fontsource/noto-sans-kr/900.css';

main[data-theme='light'] {
  --main-bg: #fff;
  --main-bg-opa: #ffffffaa;
  --sub-bg: #f5f5f5;
  --secondary-bg: #F1F1F5; 
  --text-secondary: #9E9EA7;;
  --text-primary: #191919;
  --shadow-primary: #19191977;
  --main-border: #F1F1F5;
  --sub-border: #E4E8E8;
  --accent: #2A9CD4;
}

main[data-theme='dark'] {
  --main-bg: #2A2725;
  --main-bg-opa: #2A2725aa;
  --sub-bg: #312E2C;
  --secondary-bg: #373737; 
  --text-secondary: #9E9EA7;;
  --text-primary: #fff;
  --shadow-primary: #ffffff77;
  --main-border: #373737;
  --sub-border: #474747;
  --accent: #2A9CD4;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
  transition: all .35s;
  -ms-overflow-style:none;
  scrollbar-width: none;
  &::-webkit-scrollbar, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
    display: none;
  }
}

hr, br {
  margin: 10px 0px;
}

html, body {
  background-color: var(--main-bg);
  width: 100vw;
}

main {
  background: var(--main-bg) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: var(--text-secondary);
    text-decoration: dotted underline;

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border-color: var(--sub-border);
  }

  .container {
    max-width: 1920px;
    width: 100%;

    .content {
      min-height: 100vh;
    }
  }

  .toast > div > div {
    color: var(--text-primary);
    background-color: var(--sub-bg);
  }

  .selector__control {
    width: 100%;
    height: 50px;
    outline: none;
    background: var(--sub-bg);
    border: 1px solid var(--text-secondary);
    padding-left: 10px;
    border-radius: 5px; 
    &::placeholder {
      color: var(--text-secondary);
    }

    .selector__value-container {
      height: 50px;
      padding: 0;
    }

    .selector__input-container {
      height: 50px;
      margin: 0;
      padding: 0;
    }
    
    .selector__input {
      color: var(--text-primary) !important;
      height: 50px;
    }

    .selector__single-value {
      color: var(--text-primary);
    }

    .selector__multi-value {
      background-color: var(--accent);

      .selector__multi-value__label {
        color: white;
      }

      .selector__multi-value__remove {
        color: white;

        &:hover {
          background-color: #cc0000;
          cursor: pointer;
        }
      }
    }
  }

  .selector__menu {
    background-color: var(--sub-bg);
    width: 100%;
    height: 50px;
    background: var(--sub-bg);
    outline: none;
    border: 1px solid var(--text-secondary);
    padding-left: 10px;
    border-radius: 5px;
    padding: 0;

    .selector__option {
      background-color: var(--sub-bg);
      border: 1px solid var(--text-secondary);
      border-bottom: none;
      border-top: none;
      margin: 0px;
      color: var(--text-primary);

      &:hover {
        background-color: var(--main-bg);
      }
    }
  }
}
